.terraform/
terraform.tfstate*
.terraform.tfstate*

*-kubernetes.json
*-vault.ca
aptos-fullnode-*.tgz
aptos-validator-*.tgz
testnet-*.tgz
aptos-logger-*.tgz

.idea/
*.swo
*.swp
*.swn

**/node_modules
**/*.dump

.DS_Store

**/__pycache__
**/.pyre

yarn-error.log

node_modules/

# plan actions
tf_plan_comment.txt
tf_plan.txt

# genesis artifacts
*-genesis.yaml
genesis/*
!genesis/framework.mrb

kubectx.sh

.terraform.lock.hcl
backend.tfvars
